# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts
.vercel
